# Compiled Object files
*.slo
*.lo
*.o
ROSV_Control

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Auto make data
*autom4te.cache*
Makefile
Makefile.in

# Backup data
*.BAK
*~


